services:
  api:
    image: ${DOCKER_REGISTRY-}api
    build:
      context: .
      dockerfile: Api/Dockerfile
    ports:
      - "3636:8080"
      - "3637:8081"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
